*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box{
    background-color: red;
    height: 100px;
    width: 100px;
    margin: 10px;
}

.container{
    display: flex;
    background-color: green;
    margin: 30px;
    height: 80vh;
    justify-content: space-evenly;
}