/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TIPOGRAFÍA */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background: #fff;
    line-height: 1.5;
}

/* ENCABEZADO */
header {
    background: #f7e9f2;
    padding: 30px;
    display: flex;
    align-items: baseline;
    gap: 400px;
}

header h1 {
    font-size: 24px;
    text-align: center;
}

.logo {
    height: 100px;
    width: auto;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}

/* PORTADA */
#hero {
    text-align: center;
    padding: 0px;
}

#hero img {
    width: 80%;
}

#hero h2 {
    margin-top: 10px;
}

.boton {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #d84fa4;
    color: white;
    text-decoration: none;
}

/* PRODUCTOS */
#productos, #catalogo {
    text-align: center;
    padding: 20px;
}

.producto {
    display: inline-block;
    width: 30%;
    margin: 1%;
    vertical-align: top;
}

.producto img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 8px;
}

/* FORMULARIO DE CONTACTO */
form input, form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
}

/* PIE DE PÁGINA */
footer {
    text-align: center;
    padding: 20px;
    background: #f7e9f2;
    margin-top: 20px;
}
